@import "base.css";
body{
    height: 100vh;
}

.carousel{
    height: 100%;
}

.carousel-inner{
    display: flex;
    height: 100%;
    background: url('../Images/background_landing.jpg');
    background-size: cover;
    color: white;
    font-weight: 600;
}

.carousel-item{
    align-self: center;
    margin-left: 3em;
}

.carousel-item p{
    width: 45%;
    margin-bottom: 2em;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}

.cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}


@media (max-width: 966px) {
    .carousel-item p{
        width: 80%;
    }
}
