@import "base.css";
body{
    height: 100vh;
}

.carousel{
    height: 100%;
}

.carousel-inner{
    display: flex;
    height: 100%;
    background: url('../Images/background_landing.jpg');
    background-size: cover;
    color: white;
    font-weight: 600;
}

.carousel-item{
    align-self: center;
    margin-left: 3em;
}

.carousel-item p{
    width: 45%;
    margin-bottom: 2em;
}


@media (max-width: 966px) {
    .carousel-item p{
        width: 80%;
    }
}
