@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,700;1,400&display=swap');
body, html {
    overflow: hidden!important;
    background: url("../Images/background.jpg")!important;
    background-size: cover;
}

#text {
    color: var(--white);
    margin: 3rem 4rem;
    font-family: 'Barlow', sans-serif;
}

#text h1 {
    text-transform: uppercase;
    margin: 0;
}

#content {
    background-color: var(--white);
    height: 100vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.button {
    background-color: #283054!important;
    width: 100%;
    margin: 0!important;
}

.button:hover {
    background-color: var(--yellow)!important;
}

small {
    color: var(--red)!important;
    font-weight: 700!important;
}
